:root {
      --bg-color: #1f241f;
    --second-bg-color: #323945;
    --main-color: #007bff;
    --white-color: #fff;
    --disabled-color: #fff3;
    --transition-duration: 0.7s;
} 

#mode-btn{
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 16px;
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition-duration);
    text-align: center;
    align-items: center;
    margin-left: 2.5rem;

}

#mode-btn i {
    padding-top: 5px;
}
